<div class="card">
  <%= link_to image_tag(post.image, class: :card__img ), post_path(post.id)%>
  <div class="card__body">
    <%= link_to post.title, post_path(post.id), class: :card__title%>
    <p class="card__summary">
      <%# <%= post.catch_copy %>
    </p>
    <%# <%= link_to "#{post.user.name}さん",user_path(post.user.id), class: :card__user %> 
  </div>
</div>