/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: rgb(233, 247, 233);
  margin-bottom: 20px;
  padding: 20px 0;
}
body{
  height: 100px;
  align-items: center;
  background-color: white
}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.kyubu {
  display: flex;
  justify-content: space-around;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
  color: rgb(77, 228, 97);
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: black;
  text-decoration: none;
  user-select: none;
  border: 1px black solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: rgb(77, 228, 97);
  background: white;
  border: 1px rgb(77, 228, 97) solid;
}
.nav__btn__2{
  display: inline-block;
  padding: 0.4em 1.8em;
  font-size: 0.8em;
  color: black;
  text-decoration: none;
  user-select: none;
  border: 1px black solid;
  border-radius: 3px;
  transition: 0.2s ease;
}
.nav__btn__2:hover{
  color: rgb(77, 228, 97);
  background: white;
  border: 1px rgb(77, 228, 97) solid;
}
.post-btn {
  width: 120px;
  background: rgb(185, 250, 185);
  text-align: center;
  border-radius: 4%;
  border: 1px black solid;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  transition: 0.4s ease;
}
.post-btn:hover{
  color: rgb(77, 228, 97);
  background: white;
  border: 1px rgb(77, 228, 97) solid;
}

.post-btn-text {
  color: black;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.post-btn-icon {
  width: 65%;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.2em;
  font-size: 0.8em;
  color: black;
  text-decoration: none;
  user-select: none;
  border: 1px black solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__logout:hover{
  color: rgb(238, 6, 57);
  background: white;
  border: 1px rgb(238, 6, 57) solid;
}

/* キューブ */
.css-cube {                                      /* 立体の大きさ傾きの指定 */
  width: 100px;
  height: 100px;
  margin: 5%;
  border: none;
  transform-style: preserve-3d;                  /* ３Ｄで表示 */
  transform:rotateY(-30deg) rotateX(-30deg) rotateZ(10deg); /* 立体の傾き */
  display : inline-block;
  animation: cubeAnime 3.6s linear infinite;       /* 動きの指定 */
}
@keyframes cubeAnime{                            /* 回転方向の指定 */
   50% { transform: rotateY(-30deg) rotateX(-30deg) rotateZ(10deg);}
  100% { transform: rotateY(330deg) rotateX(330deg) rotateZ(10deg);}
}
.css-img {                                      /* 各面の指定 */
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  line-height: 100px;
  font-size: 50px;
  color: black;
  text-align: center;
  backface-visibility : hidden;                 /* 裏面は非表示 */
}
.css-face {                                      /* 各面の指定 */
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  line-height: 100px;
  font-size: 50px;
  color: black;
  text-align: center;
  opacity: 1.0;                                  /* 透明度を指定 */
  backface-visibility : visible;                 /* 裏面を表示 */
}
.css-hover:hover {                                /* 横軸方向に回転 */
  transform:rotateY(330deg) rotateX(330deg) rotateZ(370deg);
}
.css-hover {
  width: 100px;
  height: 100px;
  margin: 5%;
  border: none;
  transform-style: preserve-3d;
  transform:rotateY(-30deg) rotateX(-30deg) rotateZ(10deg);
  transition:all 3s;                              /* 回転の速度 */
  display : inline-block;

}
.css-img {                          /* 各面の指定 */
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  line-height: 100px;
  font-size: 50px;
  color: black;
  text-align: center;
  backface-visibility : hidden;                 /* 裏面は非表示 */
}
.css-forward {                                   /* 前面の指定 */
  transform: translateZ(50px);
}
.css-reverse {                                   /* 後面の指定 */
  transform: rotateY(180deg) translateZ(50px);
}
.css-right {                                     /* 右面の指定 */
  transform: rotateY(90deg) translateZ(50px);
}
.css-left {                                      /* 左面の指定 */
  transform: rotateY(-90deg) translateZ(50px);
}
.css-top {                                       /* 上面の指定 */
  transform: rotateX(90deg) translateZ(50px);
}
.css-bottom {                                    /* 下面の指定 */
  transform: rotateX(-90deg) translateZ(50px);
}
/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
  justify-content: center;
  margin-top: 100px;
}
.user-sinkitouroku{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 150px;

}
.sinkitoukou{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nyuuryoku{
  display: block;
  text-align: center;
}

.nyuuryoku .field {
  text-align: center;
}

.toukousuru {
  text-align: center;
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
  text-align: center;
}

.actions{
  margin-bottom: 40px;
  text-align: center;
}

.image-label {
  text-align: center;
}

.title-field{
  width: 240px;
  height: 27px;
}
.file2{
  margin-left: 15px;
}
.field_ah{
  margin-top: 10px;
}
.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: black;
  text-decoration: none;
  user-select: none;
  background: white;
  border: 1px black solid;
  border-radius: 3px;
  transition: 0.3s ease;
  margin-top: 1.6em;
}

.form__btn:hover {
  cursor: pointer;
  color: rgb(77, 228, 97);
  background: white;
  border: 1px rgb(77, 228, 97) solid;
}
.genre-select{
  width: 240px;
  height: 27px;
}

/* メイン */
.subete{
  align-items: center;
}

.greeting{
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
  text-align: center;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: calc(100vh - 161px);
}
.card {
  width: calc((100% - 10px) / 4);
  margin-bottom: 40px;
}
.card__img {
  margin-bottom: 16px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__body{
  display: block;
  text-align: left;
}
.card__summary {
  font-size: 16px;
}
.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

/* 詳細ページ */
.prototype__wrapper{
  min-height: calc(100vh - 161px);
}
.prototype__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.prototype__user{
  display: block;
  font-size: 16px;
  color: #3b4043;
  text-align: center;
  text-decoration: underline;
}
.prototype__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.prototype__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
}
.prototype__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.prototype__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.prototype__btn:hover{
  color: #fff;
  background: #999;
}

.prototype__comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* フッター */

.footer {
  background-color: #999;
  padding: 8px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}
#japan-map div div.area div {
	border: 1px #ffffff solid;
	text-align: center;
	font-size: 14px;
 	display: flex;
		display: -webkit-flex;
 	align-items: center; /* 縦方向中央揃え */
 		-webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
 	justify-content: center; /* 横方向中央揃え */
 		-webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
	border-radius: 6px;
		-webkit-border-radius: 6px;
	position: absolute;
	box-sizing: border-box;
	transition: 0.2s;
}
#japan-map div div.area div:hover {
	opacity: 0.5;
	transition: 0.2s;
}

#japan-map {
	display: block;
	width: 777px;
	height: 482px;
	background-color: none;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
#japan-map p.area-title {
	display: none;
}

/* 北海道・東北 */

#hokkaido-touhoku {
	width: 136px;
	display: block;
	height: 265px;
	position: absolute;
	left: 638px;
}
#hokkaido-touhoku div.area div {
	background-color: #7478c2;
	color: #ffffff;
}

#hokkaido {	
	width: 150px;
	height: 90px;
}
#aomori {
	width: 93px;
	height: 43px;
	left: 21px;
	top: 96px;
}
#akita {
	width: 67px;
	height: 42px;
	left: 3px;
	top: 139px;

}
#iwate {
	width: 67px;
	height: 42px;
	left: 70px;
	top: 139px;
}
#yamagata {
	width: 67px;
	height: 42px;
	top: 181px;
	left: 3px;
}
#miyagi {
	width: 67px;
	height: 42px;
	top: 181px;
	left: 70px;
}
#fukushima {
	width: 67px;
	height: 42px;
	top: 223px;
	left: 70px;
}

/* 関東 */

#kantou {
	width: 158px;
	display: block;
	height: 174px;
	position: absolute;
	top: 265px;
	left: 623px;
	z-index: 2;
}
#kantou div.area div {
	background-color: #31beca;
	color: #ffffff;
}
#ibaraki {
	width: 52px;
	height: 85px;
	top: 0px;
	left: 100px;
}
#tochigi {
	width: 50px;
	height: 42px;
	top: 0px;
	left: 50px;
}
#gunma {
	width: 50px;
	height: 42px;
	top: 0px;
	left: 0px;
}
#saitama {
	width: 100px;
	height: 43px;
	top: 42px;
	left: 0px;
}
#chiba {
	width: 52px;
	height: 84px;
	top: 85px;
	left: 100px;
}
#tokyo {
	width: 100px;
	height: 42px;
	top: 85px;
	left: 0px;
}
#kanagawa {
	width: 67px;
	height: 42px;
	top: 127px;
	left: 0px;
}

/* 中部 */

#tyubu {
	width: 270px;
	height: 211px;
	position: absolute;
	left: 438px;
	top: 223px;
}
#tyubu div.area div {
	background-color: #4ab969;
	color: #ffffff;
}

#nigata {
	width: 85px;
	height: 42px;
	left: 185px;
}
#toyama {
	width: 67px;
	height: 42px;
	left: 118px;
}
#ishikawa {
	width: 50px;
	height: 57px;
	left: 68px;
}
#fukui {
	width: 68px;
	height: 42px;
	left: 0px;
	z-index: 2;
}
#nagano {
	width: 67px;
	height: 85px;
	left: 118px;
	top: 42px
}
#yamanashi {
	width: 67px;
	height: 42px;
	left: 118px;
	top: 127px;
}
#gifu {
	width: 50px;
	height: 55px;
	left: 68px;
	top: 57px
}
#shizuoka {
	width: 67px;
	height: 42px;
	left: 118px;
	top: 169px;
}
#aichi {
	width: 50px;
	height: 57px;
	top: 112px;
	left: 68px;
}

/* 近畿 */

#kinki {
	width: 186px;
	height: 211px;
	position: absolute;
	left: 320px;
	top: 223px;
}
#kinki div.area div {
	background-color: #b0b72f;
	color: #ffffff;
}

#kyoto {
	width: 67px;
	height: 84px;
	left: 51px;
}
#shiga {
	width: 68px;
	height: 42px;
	top: 42px;
	left: 118px;
}
#osaka {
	width: 67px;
	height: 85px;
	top: 84px;
	left: 51px;
}
#nara {
	width: 34px;
	height: 85px;
	top: 84px;
	left: 118px;
}
#mie {
	width: 34px;
	height: 85px;
	top: 84px;
	left: 152px;
}
#wakayama {
	width: 113px;
	height: 42px;
	top: 169px;
	left: 61px;
}
#hyougo {
	width: 51px;
	height: 98px;
	left: 0px;
}

/* 中国 */

#tyugoku {
	width: 151px;
	height: 98px;
	position: absolute;
	left: 169px;
	top: 223px;
}
#tyugoku div.area div {
	background-color: #ef9f27;
	color: #ffffff;
}
#tottori {
	width: 50px;
	height: 49px;
	left: 101px;
}
#okayama {
	width: 50px;
	height: 49px;
	top: 49px;
	left: 101px;
}
#shimane {
	width: 51px;
	height: 49px;
	left: 50px;
}
#hiroshima {
	width: 51px;
	height: 49px;
	top: 49px;
	left: 50px;
}
#yamaguchi {
	width: 50px;
	height: 98px;
	left: 0px;
}

/* 四国 */

#shikoku {
	width: 184px;
	height: 84px;
	position: absolute;
	left: 169px;
	top: 350px;
}
#shikoku div.area div {
	background-color: #d08f68;
	color: #ffffff;
}
#kagawa {
	width: 92px;
	height: 42px;
	right: 0px;
}
#ehime {
	width: 92px;
	height: 42px;
	left: 0px;
}
#tokushima {
	width: 92px;
	height: 42px;
	right: 0px;
	top: 42px;
}
#kouchi {
	width: 92px;
	height: 42px;
	left: 0px;
	top: 42px;
}

/* 九州・沖縄 */

#kyusyu {
	width: 152px;
	height: 247px;
	position: absolute;
	left: 0px;
	top: 235px;
}
#kyusyu div.area div {
	background-color: #ff7575;
	color: #ffffff;
}
#fukuoka {
	width: 50px;
	height: 50px;
	left: 101px;
	top: 0px;
}
#saga {
	width: 50px;
	height: 50px;
	left: 51px;
	top: 0px;
}
#nagasaki {
	width: 50px;
	height: 50px;
	left: 1px;
	top: 0px;
}
#oita {
	width: 50px;
	height: 50px;
	left: 101px;
	top: 50px;
}
#kumamoto {
	width: 50px;
	height: 100px;
	left: 51px;
	top: 50px;
}
#miyazaki {
	width: 50px;
	height: 50px;
	left: 101px;
	top: 100px;
}
#kagoshima {
	width: 68px;
	height: 49px;
	left: 83px;
	top: 150px;
}
#okinawa {
	width: 50px;
	height: 50px;
	left: 1px;
	top: 197px;
}


/****************************************
	レスポンシブ

****************************************/
@media screen and (max-width: 776px) {
#japan-map {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
}
#japan-map p.area-title {
	display: inline-block;
	width: 100%;
	font-size: 15px;
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 1em;
	color: #000000;
}
#hokkaido-touhoku, #kantou, #tyubu, #kinki, #tyugoku, #shikoku, #kyusyu {
	display: block;
	position: static;
	margin: 0 1em 0 1em;
}
#japan-map div div.area {
	display: block;
	position: relative;
}

#hokkaido-touhoku {
	height: calc(265px + 4.5em);
}
#kantou {
	height: calc(174px + 4.5em);
}
#tyubu {
	height: calc(211px + 4.5em);
}
#kinki {
	height: calc(211px + 4.5em);
}
#tyugoku {
	height: calc(98px + 4.5em);
}
#shikoku {
	height: calc(84px + 4.5em);
}
#kyusyu {
	height: calc(247px + 4.5em);
}

} /* レスポンシブ max-776px */



@media screen and (max-width: 500px) {
#japan-map {
	display: block;
	width: 100%;
	height: auto;
}
#hokkaido-touhoku, #kantou, #tyubu, #kinki, #tyugoku, #shikoku, #kyusyu {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	position: static;
	margin-left: 0px;
	margin-right: 0px;
}
#japan-map div div.area {
	font-size: 14px;
 	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
#japan-map div div.area a {
	height: auto;
	width: 25%;
}
#japan-map div div.area div {
 	display: block;
	border-radius: 0px;
	position: static;
	height: auto;
	font-size: 16px;
	width: 100%;
	padding: 0.5em 0.3em 0.5em 0.3em;
}


} /* レスポンシブ max-500px */

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}